{% extends 'base.html' %}

{% load static %}

{% load custom_filters %}

{% load i18n %}

{% block title %}
{% if title %}
	{{ title }}
{% else %}
	Blog
{% endif %}
{% endblock %}

{% block content %}

	<section class="s-blog">
		<div class="wrapper">
			<div class="b-top-nav">
				<a href="{% url 'main' %}" class="b-top-nav__item active">{% trans "Главная" %}</a>
				<a href="{% url 'blog' %}" class="b-top-nav__item">{% trans "Блог" %}</a>
			</div>
			<h2 class="b-top-title">
			{% if title %}
				{{ title }}
			{% else %}
				{% trans "Блог" %}
			{% endif %}
			</h2>

			<div class="b-blog-slider">

				<div data-container="1" class="b-blog-container active">
				{% for obj in articles %}
					<article class="b-blog-item">
						<img src="{{ obj.image.url }}" alt="money" class="b-blog-item__img">
						<h3 class="b-blog-item__title">{{ obj.title }}</h3>
						<p class="b-blog-item__text">{{ obj.text|safe|get_few_words:'30'|safe }}</p>
						<a class="b-blog-item__link" href="{% url 'blog_item' obj.id %}">{% trans "Подробнее" %}</a>
						<time class="b-blog-item__date" >{{ obj.date }}</time>
					</article>
					{% if forloop.counter|divisibleby:6 %}
						</div>
						<div data-container="{{ forloop.counter|get_int_divide_plus_one:'6' }}" class="b-blog-container">
					{% endif %}
				{% endfor %}
				</div>
			</div>
			<nav class="b-blog-nav">
				<button class="b-blog-nav__btn-prev"></button>
				{% for i in articles|generate_paginate_iter:'6' %}
					<button data-blogbtn="{{ i }}" class="b-blog-nav__btn {% if forloop.first %}active{% endif %}">{{ i }}</button>
				{% endfor %}
				<button class="b-blog-nav__btn-next"></button>
			</nav>
		</div>
	</section>

{% endblock %}