{% extends 'base.html' %}

{% load static %}

{% load custom_filters %}

{% load i18n %}

{% load solo_tags %}

{% block title %}Blog-item{% endblock %}

{% block content %}

	<section class="s-blog-item">
		<div class="wrapper wrapper--flex">
			<main class="b-main-container">
				<div class="b-top-nav b-top-nav--main">
					<a href="{% url 'main' %}" class="b-top-nav__item active">{% trans "Главная" %}</a>
					<a href="{% url 'blog' %}" class="b-top-nav__item active">{% trans "Блог" %}</a>
					<a href="{% url 'blog_item' article.id %}" class="b-top-nav__item">{{ article.title }}</a>
				</div>

				<h2 class="b-top-title">{{ article.title }}</h2>

				<img src="{{ article.image.url }}" alt="women" class="s-blog-item__img">

				<time class="b-blog-item__date b-blog-item__date--bg" >{{ article.date }}</time>

				<p class="s-blog-item__text">
					{{ article.text|safe }}
				</p>
			</main>

			<aside class="b-sidebar">
				<div class="b-sidebar-banner">
					<h3 class="b-sidebar-banner__title">
						<span>{% trans "Всего" %}</span>{% trans "в пару кликов" %}!
					</h3>
					<a href="{% url 'callback' %}" class="b-btn-primary b-btn-primary--main b-btn-primary--bordered">{% trans "Оформить кредит" %}</a>
					<img class="b-sidebar-banner__img b-sidebar-banner__img--left" src="{% static 'dist/img/car.png' %}" alt="car">
					<img class="b-sidebar-banner__img b-sidebar-banner__img--right" src="{% static 'dist/img/grn.png' %}" alt="money">
				</div>
			{% get_solo 'communication.LastArticles' as last_articles %}
			{% for obj in last_articles.articles.get_queryset %}
				<article class="b-blog-item">
					<img src="{{ obj.image.url }}" alt="money" class="b-blog-item__img">
					<h3 class="b-blog-item__title">{{ obj.title }}</h3>
					<p class="b-blog-item__text">{{ obj.text|get_few_words:'40'|safe }}</p>
					<a class="b-blog-item__link" href="{% url 'blog_item' obj.id %}">{% trans "Подробнее" %}</a>
					<time class="b-blog-item__date" >{{ obj.date }}</time>
				</article>
			{% endfor %}
			</aside>
		</div>
	</section>

	
{% endblock %}