{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block title %}Enter{% endblock %}

{% block content %}

	<div class="wrapper wrapper-mob"> 
		<form action="{% url 'login' %}" method="post" class="f-form">
			<h2 class="f-form__title">{% trans 'Вход в личный кабинет' %}</h2>
			<div class="f-form__content">
				<p class="f-form__content-message">{% trans 'В своем личном кабинете Вы сможете настроить определенные функции, сохранить свои личные данные и смотреть свою кредитную историю' %}. </p>
				{% if status_message %}
					<p>{{ status_message }}</p>
				{% endif %}
				<div class="b-input b-input--main">
				{{ form.username }}
					<span class="icon icon--phone-call"></span>
				</div>

				<div class="b-input b-input--main">
					{{ form.password }}
					<span class="icon icon--padlock"></span>
				</div>
				{% csrf_token %}
				<div class="b-remind">
					<div class="b-checkbox">
						<input id="checkbox" name="remember_me" type="checkbox"><label for="checkbox">{% trans 'Запомнить меня' %}</label>
					</div>
					<a href="#" class="b-remind-link">{% trans 'Забыли пароль' %}?</a>
				</div>
				<button class="b-btn-primary b-btn-primary--formed" type="submit">{% trans 'Ввойти в личный кабинет' %}</button>
			</div>
			
			<div class="f-form__footer">
				<h4 class="f-form__footer-title">{% trans 'Еще нет аккаунта Экспресс Финанс' %}?</h4>
				<a class="f-form__footer-link" href="#">{% trans 'Зарегистрироваться' %}</a>
			</div>

			<a href="{% url 'main' %}" class="b-btn-close"></a>
		</form>
	</div>
{% endblock %}