{% extends 'base.html' %}

{% load static %}

{% block title %}Enter password{% endblock %}

{% block content %}
	<div class="wrapper wrapper-mob"> 
		<form action="{% url 'set_password' %}" method="post" class="f-form">
			<h2 class="f-form__title">Пароль</h2>
{% csrf_token %}
			<div class="f-form__content">
				<p class="f-form__content-message f-form__content-message--big">Введите пароль{% if status_message %}{{ status_message }}{% endif %}</p>

				<div class="b-input b-input--main">
					<input type="password" name="password" placeholder="Введите пароль">
					<span class="icon icon--padlock"></span>
					<input type="password" name="password_confirm" placeholder="Повторите пароль">
					<span class="icon icon--padlock"></span>
				</div>

				<button class="b-btn-primary b-btn-primary--formed" type="submit">Установить пароль</button>
			</div>

			<div class="f-form__footer"></div>

			<a href="{% url 'main' %}" class="b-btn-close"></a>
		</form>
	</div>
{% endblock %}