{% extends 'base.html' %}

{% load static %}

{% load custom_filters %}

{% load solo_tags %}

{% load i18n %}

{% block title %}{% trans 'Обратная связь' %}{% endblock %}

{% block content %}
	<div class="wrapper wrapper-mob">
		<div action="#" class="b-form-group">
			<form action="{% url 'request_callback' %}" class="f-callback-left" method="POST">
				<img class="f-callback__img" src="{% static 'dist/img/callback-person.jpg' %}" alt="operator">
				<div class="f-callback__info">
					<h2 class="f-callback__info-title">{% trans 'Заказать звонок менеджера' %}</h2>
					<p class="f-callback__info-text">{% trans 'Заказать звонок менеджера бесплатно без регистрации и смс и тому подобный сопроводительный текст для пользователей до 20:00, после чего форма будет не доступна' %} </p>
				</div>
				
				<div class="b-input b-input--main">
					<input type="text" placeholder="{% trans 'Введите свое имя' %}" name="client_name">
					<span class="icon icon--avatar"></span>
				</div>
				<div class="b-input b-input--main">
					{# <input type="tel" placeholder="+38 (0__) ___ __ __" name="contact_phone"> #}
					<input type="tel" placeholder="380991112200" name="contact_phone">
					<span class="icon icon--phone-call"></span>
				</div>
				{% csrf_token %}
				<input type="hidden" value="{{ bid_id|default:"" }}" name="bid_id">
				<input type="hidden" value="{{ city }}" name="city">
				<button class="b-btn-primary b-btn-primary--main" type="submit">{% trans 'Заказать звонок' %}</button>
			</form>

			<form action="{% url 'register' %}" method="post" class="f-callback-right">
				<h3 class="f-callback__caption">{% trans 'Сегодня одобрено' %}</h3>
				{% csrf_token %}
				<div class="b-total-number">
					<span class="b-total-number__count">3495</span>
					<span class="b-total-number__caption">{% trans 'Заявок' %}</span>
				</div>

				<div class="f-callback__info f-callback__info--secondary">
					<h2 class="f-callback__info-title">{% trans 'Получить решение онлайн' %}</h2>
					<p class="f-callback__info-text">{% trans 'Заказать звонок менеджера бесплатно без регистрации и смс и тому подобный сопроводительный текст для пользователей до 20:00, после чего форма будет не доступна' %} </p>
				</div>
				{% if status_message %}
					{{ status_message }}
				{% endif %}
				<div class="b-input b-input--secondary">
					{{ form.phone }}
					<span class="icon icon--phone-call"></span>
				</div>

				<button class="b-btn-primary b-btn-primary--light" type="submit">{% trans 'Получить решение' %}</button>

				<a href="{% url 'login' %}" class="already-link">{% trans 'Уже есть аккаунт Экспресс финанс?' %} <b>{% trans 'Войти' %}</b></a>
			</form>
		</div>
	</div>
{% endblock %}

{% block info %}{% endblock %}

{% block footer %}{% endblock %}
