{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% load solo_tags %}

{% load i18n %}

{% load custom_filters %}

{% get_current_language as LC %}
{% block title %}
{% if '/ru/' in request.path %}
	{{ main.title_ru }}
{% elif '/ua/' in request.path %}
	{{ main.title_ua }} 
{% endif %}
{% endblock %}

{% block meta_title %}
{% if '/ru/' in request.path %}
	{{ main.meta_title_ru }}
{% elif '/ua/' in request.path %}
	{{ main.meta_title_ua }}
{% endif %}
{% endblock %}

{% block description %}
{% if '/ru/' in request.path %}
	{{ main.meta_description_ru|safe }}
{% elif '/ua/' in request.path %}
	{{ main.meta_description_ua|safe }}
{% endif %}
{% for obj in phones %}
	{{ obj.number }}
{% endfor %}
{% endblock %}

{% block content %}	
	<section class="s-main" style="background-image: url({{ main.top_block.image.url }});" >
		<div class="wrapper wrapper--flex">
			<ul class="s-main__list">
				<li class="s-main__list-title">{% trans "Выберите Ваш" %}<br>{% trans "кредитный тариф" %}</li>
			{% for obj in main.credits_up.get_queryset %}
				<li>
					<button data-btn="form-{{ obj.id }}" class="b-btn b-btn--secondary {% if forloop.first %}active{% endif %}"><span class="icon icon--{{ obj.icon_class }}"></span>{{ obj.credit_rate.name }}</button> 
				</li>
			{% endfor %}
			</ul>
			
			<div class="b-main-form-container">
				{% for obj in main.credits_up.get_queryset %}
				<div data-content="form-{{ obj.id }}" class="tab-content {% if forloop.first %}is-showed{% endif %}">
					<form action="{% url 'save_credit_request' %}" class="b-main-form b-main-form--prime {% if forloop.counter == 2 %}arrow-mid{% elif forloop.last %}arrow-bot{% endif %}" method="POST">
						<fieldset class="b-main-form__content">
						
							<div class="b-form-item">
								<label class="b-form-item__label b-form-item__label--wide" for="credit-value-{{ obj.id }}">{% trans "Сумма кредита" %}:
								</label>

								<input class="b-form-item__input b-form-item__input--first" type="text" id="credit-value-{{ obj.id }}" name="credit_sum">

								<span>грн</span>

								<div data-id="{{ obj.id }}" class="b-form-item__slider" id="credit-slider-{{ obj.id }}">
									<div class="ui-slider-helper">
										<a class='ui-slider-handle'>
											<span class="icon icon--arrow icon--left"></span>
											<span class="ui-slider-val">{{ obj.credit_rate.get_sum_min }} грн</span>
											<span class="icon icon--arrow icon--right"></span>
										</a>
									</div>
								</div>
							</div>

							<div class="b-form-item">
								<label class="b-form-item__label b-form-item__label--wide" for="termin-value-{{ obj.id }}">{% trans "Срок займа" %}:</label>

								<input class="b-form-item__input b-form-item__input--second" type="text" id="termin-value-{{ obj.id }}" name="termin">
								<span>{% if obj.credit_rate.term_type %} {% trans "месяцев" %} {% else %} {% trans "недель" %} {% endif %}</span>

								<div data-id="{{ obj.id }}" class="b-form-item__slider" id="termin-slider-{{ obj.id }}">
									<div class="ui-slider-helper ui-slider-helper--sm">
										<a class='ui-slider-handle ui-slider-handle--sm'>
											<span class="icon icon--arrow icon--left"></span>
											<span class="ui-slider-val">{{ obj.credit_rate.term_min }} {% if obj.credit_rate.term_type %}{% trans "месяцев" %}{% else %}{% trans "недель" %}{% endif %}</span>
											<span class="icon icon--arrow icon--right"></span>
										</a>
									</div>
								</div>
							</div>
						</fieldset>

						<fieldset class="b-main-form__total">
							<div class="b-main-form__total-content">
								<p><span>{% trans "Вы берете" %}:</span><span id="credit-total-{{ obj.id }}">{{ obj.credit_rate.get_sum_min }} грн</span></p>
								<p><span>{% trans "На срок" %}:</span> <span id="termin-total-{{ obj.id }}">{{ obj.credit_rate.term_min }} {% if obj.credit_rate.term_type %}{% trans "месяцев" %}{% else %}{% trans "недель" %}{% endif %}</span></p>
								<p class="b-main-form__total-cost"><span>{% trans "Платеж по кредиту" %}:</span> <span class="pay_spam" data-id="{{ obj.id }}" id="pay_spam{{ obj.id }}" >550 {% if obj.credit_rate.term_type %}{% trans "грн/месяц." %}{% else %}{% trans "грн/неделя." %}{% endif %}</span></p>
							</div>
							
							<input type="hidden" value="{% url 'callback' %}" name="callback">
							<input type="hidden" value="{{ user_city }}" name="city">
							<input type="hidden" value="{% if obj.credit_rate.term_type %}{% trans 'месяцев' %}{% else %}{% trans 'недель' %}{% endif %}" name="term_type">
							{% csrf_token %}
							<button type="submit" class="b-btn-primary b-btn-primary--main">
								{% trans "Оформить кредит" %}
							</button>
						</fieldset>
					</form>
				</div>
			{% endfor %}
			</div>
			
			<h1 class="s-main-title">
			{% if '/ru/' in request.path %}
				<span class="s-main-title__top">{{ main.top_block.title_ru }}</span>
				<span class="s-main-title__middle">{{ main.top_block.subtitle_ru }}</span>
				<span class="s-main-title__bottom">{{ main.top_block.footer_ru }}</span>
			{% elif '/ua/' in request.path %}
				<span class="s-main-title__top">{{ main.top_block.title_ua }}</span>
				<span class="s-main-title__middle">{{ main.top_block.subtitle_ua }}</span>
				<span class="s-main-title__bottom">{{ main.top_block.footer_ua }}</span>
			{% endif %}
			</h1>

			<ul class="social-main">
				{% for obj in nets %}
					<li><a href="{{ obj.link }}" class="social-main__link"><i class="fab fa-{{ obj.image }}{% if not obj.image == 'linkedin' %}-square{% endif %}"></i></a></li>
				{% endfor %}
			</ul>
		</div>
	</section>

	<section class="s-advanteges" id="advantages" style="background-image: url({{ main.discount.image.url }});" >
		<div class="s-advanteges-header">
			<h2 class="b-section-title">{{ main.advantage.title }}</h2>
			<p class="b-section-subtitle">{{ main.advantage.text }}</p>
		</div>
		
		<div class="wrapper wrapper--flex">
			<div class="s-advanteges-content">
			{% for obj in main.advantage.advantages.get_queryset %}
				<div class="s-advanteges-content__item">
					<img src="{{ obj.image.url }}">
					<p class="s-advanteges-content__item-caption">
						{{ obj.text|safe }}
					</p>
				</div>
			{% endfor %}
			</div>

			<div class="s-advanteges-message">
				<div class="s-advanteges-message__image-box">
					<img class="s-advanteges-message__svg-1" src="{{ main.discount.icon.url }}">
					<img class="s-advanteges-message__svg-2" src="{{ main.discount.icon.url }}">
					<img class="s-advanteges-message__svg-3" src="{{ main.discount.icon.url }}">
				</div>

				<div class="s-advanteges-message__content">
					<h4 class="s-advanteges-message__content-title">
						{{ main.discount.title|safe }}
					</h4>
					<p class="s-advanteges-message__content-main">{{ main.discount.text|safe }}</p>
					<a href="{{ main.discount.link }}" class="b-btn-stretch">{% trans "Как стать участником программы" %}?</a>
				</div>

			</div>
		</div>

	</section>

	<section class="s-packages" id="credits">
		<div class="wrapper">
			<div class="b-section-header">
				<h2 class="b-section-title">{{ main.credit_block.title }}</h2>
				<h3 class="b-section-subtitle">{{ main.credit_block.text }}</h3>
			</div>

			<div class="s-packages-content">
			{% for obj in main.credit_block.credit_rates.get_queryset %}
				<div>
					<div class="s-packages-content__item">
						<div class="s-packages-content__item-img" style="background-image: url({{ obj.image.url }})"></div>
						<div class="s-packages-content__item-wrap">
							<h3 class="s-packages-content__item-subcaption">{% trans "кредитный тариф" %}</h3>
							<h4 class="s-packages-content__item-caption">{{ obj.name }} 
							</h4>
							<p class="s-packages-content__item-info">
								<span>{% trans "Размер кредита" %}:</span>
								<b>{% trans "от" %} {{ obj.get_sum_min|intcomma }} {% trans "до" %} {{ obj.get_sum_max|intcomma }} грн</b>	
							</p>
							<p class="s-packages-content__item-info">
								{% trans "Параметр кредита" %}:
								<b>{% trans "от" %} {{ obj.term_min }} {% trans "до" %} {{ obj.term_max }} {% if obj.term_type %}{% trans "месяцев" %}{% else %}{% trans "недель" %}{% endif %}</b>	
							</p>
							<p class="s-packages-content__item-info">
								% {% trans "ставка" %}:
								<b>от {{ obj.rate_min }} до {{ obj.rate_max }}%</b>
							</p>
							<p class="s-packages-content__item-info">
								{% trans "Платеж" %}:
								{% for pl in obj.payment_terms.get_queryset %}
									<b>{{ pl.term }}</b>
								{% endfor %}
							</p>
							<a href="{% url 'callback' %}" class="b-btn-primary b-btn-primary--main">{% trans "Подать заявку" %}</a>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</section>

	<section class="s-howto">
		<div class="wrapper">
			<div class="b-section-header">
				<h2 class="b-section-title">{% trans "Как получить кредит" %}?</h2>
			</div>

			<div class="b-step-wrapper">
				<div class="b-step">
					<div class="b-step-number">1</div>
					<h4 class="b-step-title">{% trans "Выберите сумму займа и срок" %}</h4>
					
					<div class="b-step__content b-step__content--special">
						<div class="b-step__content--special-item">
							<span>{% trans "Сумма кредите" %}</span>
							<span>10 000</span>
							<span>грн</span>
						</div>

						<div class="b-step__content--special-item">
							<span>{% trans "Срок займа" %}</span>
							<span>10</span>
							<span>{% trans "дней" %}</span>
						</div>
					</div>
				</div>

				<div class="b-step">
					<div class="b-step-number">2</div>
					<h4 class="b-step-title">{% trans "Заполните заявку" %}</h4>

					<div class="b-step__content b-step__content--main">
						<p class="b-step__content-data">{% trans "Имя" %}</p>
						<p class="b-step__content-data">{% trans "Фамилия" %}</p>
						<p class="b-step__content-data">{% trans "Дата рождения" %}</p>
						<p class="b-step__content-data">{% trans "Идентификационный код" %}</p>
					</div>
				</div>

				<div class="b-step">
					<div class="b-step-number">3</div>
					<h4 class="b-step-title">{% trans "Привяжите карту" %}</h4>
					
					<div class="b-step__content b-step__content--card">
						<img class="b-step__content-img" src="{% static 'dist/img/card.png' %}" alt="card">
						<span class="b-step__content-abs">
							<p class="b-step__content-data">Date: <span>08/23</span></p>
							<p class="b-step__content-data">CVV/CVC: <span>594</span></p>
						</span>
					</div>				
				</div>

				<div class="b-step">
					<div class="b-step-number">4</div>
					<h4 class="b-step-title">{% trans "Получите деньги на карту" %}</h4>

					<div class="b-step__content b-step__content--secondary">
						<span class="b-arrows"></span>
						<p class="b-step__content-data">{% trans "Пополнение карты" %}</p>
						<p class="b-step__content-data">{% trans "Отправитель: Экспресс Финанс" %}</p>
						<p class="b-step__content-data">
							<span class="b-step__content-total">10 000 <span>.00</span></span>
							грн
						</p>
					</div>
				</div>
			</div>

			<div class="b-section-message">
			{% for obj in main.credit_take.get_queryset %}
				<div class="b-section-message__item {% if forloop.first %}active{% endif %}">
					<h3 class="b-section-message__item-title">
						{{ obj.title }}
					</h3>
					<p class="b-section-message__item-content">
						{{ obj.text }}
					</p>
				</div>
			{% endfor %}
			</div>

			<div class="b-section-cards">
				<div class="b-section-cards__logo-wrap">
					<img class="b-section-cards__logo" src="{{ main.security.image1.url }}" alt="visa-card">
					<img class="b-section-cards__logo master-card" src="{{ main.security.image2.url }}" alt="master-card">
					<img class="b-section-cards__logo" src="{{ main.security.image3.url }}" alt="pci">
					<img class="b-section-cards__logo" src="{{ main.security.image4.url }}" alt="comodo">
					<img class="svg-bank" src="{{ main.security.image5.url }}" alt="credit-card">

					<div class="b-section-cards__icons">
					{% for obj in main.security.security_items.get_queryset %}
						<span class="icon icon--{{ obj.icon_class }}">{{ obj.text|safe }}</span>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="s-review" id="review">
		<div class="wrapper">
			<div class="b-section-header b-section-header--secondary">
				<h2 class="b-section-title">{% trans "Нам доверяют сотни людей" %}</h2>
			</div>

			<div class="b-review">

				<div class="b-review__icon"></div>

				<div class="b-review__info">
				{% for obj in main.responses.get_queryset %}
					<p id="review-{{ obj.id }}" {% if forloop.first %}class="active"{% endif %}>
						{{ obj.text }}
					</p>
				{% endfor %}
				</div>

				<div class="b-review__person-wrapper">
				{% for obj in main.responses.get_queryset %}
					<div id="person-{{ obj.id }}" class="b-review__person {% if forloop.first %}active{% endif %}">

						<div class="b-review__person-img">
							<img src="{{ obj.image.url }}" alt="person-img">
						</div>
						
						<div class="b-review__person-info">
							<p><b>{{ obj.name }}</b></p>
							<p>{{ obj.status }}</p>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</section>

	<section class="s-region" id="region">
		<div class="wrapper">
			<h2 class="b-section-title">
			{% if '/ru/' in request.path %}
				{{ main.departments_title_ru }}
			{% elif '/ua/' in request.path %}
				{{ main.departments_title_ua }}
			{% endif %}
			</h2>
			<div class="b-region-list__wrapper">
				<ul class="b-region-list">
				{% for obj in departments %}
				{% if not forloop.first %}
					{% if column_list|is_new_column %}
						</ul>
						<ul class="b-region-list">
					{% endif %}
				{% endif %}
					<li><span class="arrow"></span><button class="b-region-list__btn" data-dep_id="{{ obj }}">{{ obj }}</button></li>
				{% endfor %}
				</ul>

				<div class="popup">
					
					<div class="popup-cities">
						<ul class="popup-list">	</ul>
						<button class="b-btn-primary b-btn-primary--main btn-show">{% trans "Показать все города" %}</button>
					</div>
					
					<div id="map" class="popup-map"></div>

					<div class="popup-info">
						<h3 class="popup-info__adress">
							<span class="icon icon--arrow"></span>
							<span id="data-adress">{% trans "Адрес не найден" %}</span>
						</h3>
						<h4 class="popup-info__title">{% trans "Информация" %}</h4>
						<div class="popup-info__item">
							<span class="popup-info__item-title">{% trans "Город" %}:</span>
							<span class="popup-info__item-main" id="data-city">{% trans "Город не найден" %}</span>
						</div>
						<div class="popup-info__item">
							<span class="popup-info__item-title">{% trans "Адрес" %}:</span>
							<span class="popup-info__item-main" id="data-localAdress">{% trans "Адрес не найден" %}</span>
						</div>
						<div class="popup-info__item">
							<span class="popup-info__item-title">{% trans "Режим работы" %}:</span>
							<span class="popup-info__item-main" id="data-schedule">{% trans "Режим работы не найден" %}</span>
						</div>
						<div class="popup-info__item">
							<span class="popup-info__item-title">{% trans "Контакты" %}:</span>
							<a class="popup-info__link popup-info__link--mail" href="mailto:rm.kyiv.kharkivskiy@expressfinance.com.ua">
								<img src="{% static 'dist/img/svgstore/icons/mail.svg' %}">
								<span id="data-mail">rm.kyiv.kharkivskiy@expressfinance.com.ua</span>
							</a>
							<a class="popup-info__link" href="tel:(044)-228-70-51">
								<img src="{% static 'dist/img/svgstore/icons/phone1.svg' %}">
								<span id="data-phone">{% trans "Телефон не найден" %}</span>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="s-media" id="payout">
		<div class="wrapper">
			<h2 class="b-section-title">
			{% if '/ru/' in request.path %}
				{{ main.credit_close.title_ru }}
			{% elif '/ua/' in request.path %}
				{{ main.credit_close.title_ua}}
			{% endif %}
			</h2>
			<div class="b-media">
			{% for obj in main.credit_close.close_credits.get_queryset %}
				<div class="b-media-item">
					<div class="b-media-item__img">
						<svg class="{{ obj.icon_class }}">
							<use href="{% static 'sprite.svg' %}#{{ obj.icon_class }}"></use>
						</svg>
					</div>
					
					<h4 class="b-media-item__title">{{ obj.title }}</h4>
					<p class="b-media-item__info">{{ obj.text }}</p>
					<a href="{{ obj.link }}">
						<button class="b-btn-primary b-btn-primary--main">{% trans "Подробнее" %}</button>
					</a>
				</div>
			{% endfor %}
			</div>
		</div>
	</section>

	
	
{% endblock %}